<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .name
        {
            color: cadetblue;
            text-decoration: none;
            letter-spacing: 4px
        }
    </style>
</head>
<body style=" bgcolor='cyan'">
        <div>
                <h1><a href="/" class="name">My Blog</a></h1>
            </div>
    
            <div>
                <h2><a href="" class="name">My posts</a></h2>
                <!-- <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
                {% for post in posts %}
                    <p>published_date :  {{ post.published_date }}</p>
                    <p> {{ post.text }} </p>
                {% endfor %}
            </div>
            <h1>Want to create a new post</h1>
            <form action="send" method="get">
                <input type="text" name="title" placeholder="give a title">
                <br>
                <input type="text" name='info' placeholder="give more info">
                <br>
                <input type="submit">
            </form>
</body>
</html>