<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="password_forgotten">
        <input type="email" name="email" placeholder="enter email Id">
        <input type="password" name="new_password" placeholder="enter new password">
        <input type="password" name="retype_password" placeholder="retype new password">
        <input type="submit">
    </form>
</body>
</html>